.signup-modal {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-modal h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signup-modal h3 {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .signup-modal h2 {
    font-size: 1.5rem;
  }
  .signup-modal h3 {
    font-size: 1rem;
  }
}

.signup-form {
  margin-top: 1.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.signup-form__row input {
  width: 240px;
}

@media (max-width: 768px) {
  .signup-form__row {
    flex-direction: column;
    gap: 2rem;
  }
  .signup-form__row input {
    width: 100%;
  }
}

.signup-form__radio-sel {
  border: 1px solid white;
  display: flex;
  align-items: flex-start;
}

.signup-form__radio-sel label {
  padding: 1rem;
}

.signup-form__radio-sel input {
  position: relative;
  top: 19px;
  left: 9px;
}

.signup-form__radio-sel div {
  margin-top: 5px;
  font-size: 0.8rem;
}

.error {
  border: 2px solid #ff7d87;
}

.signup-form__offers-chkbx {
  margin-top: -1.2rem;
  font-size: 0.8rem;
  align-self: center;
}

.signup-form__offers-chkbx input {
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.signup-form button {
  width: 100%;
  font-weight: bold;
}

.spanErr {
  color: #ff7d87;
  margin-top: -1.6rem;
  margin-bottom: -1.6rem;
}

.terms {
  margin-top: -1rem;
  align-self: center;
}

.terms a {
  color: rgb(48, 48, 143);
}
