.modal-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .modal-container {
    margin-top: 20px;
  }
}
