.button {
  position: relative;
  overflow: hidden;
  font-weight: 600;
  padding: 10px;
  width: 100px;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.08s ease-in;
  align-self: center;
  background: none;
}

.button:hover {
  color: rgb(170, 53, 170);
}

.button:before {
  content: '';
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

.button:hover:before {
  top: 0;
}

.disabled {
  color: rgb(192, 192, 192);
  cursor: not-allowed;
  border-color: rgb(192, 192, 192);
}
.disabled:before {
  background: none;
}

.button.disabled:hover {
  color: rgb(192, 192, 192);
  background-color: transparent;
}
