.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 420px) {
  .header {
    flex-direction: column;
  }
}

.logo {
  font-size: 2rem;
  padding: 1rem;
}
