@import './reset-css/reset.css';
@import './reset-css/normalize.css';

.app {
  background-color: rgb(170, 53, 170);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
